.container {
    align-items:center;
    border:2px solid grey;
    height:355px;
    width:600px;
    background-color:white;
    margin-left:440px;
    /* margin-right:300px; */
    margin-top:180px;
    border-bottom:none;
    border-top:none;
}
#orange {
    height:110px;
    width:597px;
    background-color:orangered;
    border:2px solid orangered;
    margin:0;
}
#circle {
    height:70px;
    width:70px;
    border:5px solid blue;
    border-radius:100%;
    background-color:white;
    /* align-items:center;
    justify-content:center;
    display:flex; */
    margin-left:260px;
    margin-top:25px;
    margin-bottom:25px;
}
#green {
    height:110px;
    width:598px;
    background-color:darkgreen;
    border:2px solid darkgreen;
}