form {
    border:3px solid black;
    margin:600px;
    padding:10px;
    width:300px;
}
button {
    height:30px;
    width:250px;
    color:white;
    background-color:green
}
input,select {
    height:25px;
    width:200px;
    border-radius:5px;
}
textarea {
    height:40px;
    width:220px;
    border-radius:5px;
}