body {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}
#box1{
    border:2px solid grey;
    background-color:grey;
    text-align:center;
}
#box2{
    border:2px solid lightgrey;
    background-color:lightgrey;
    margin-left:50px;
    margin-right:50px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    color:blue;
    font-weight:bold;
}
.container{
    border:1px solid darkgray;
    background-color:darkgray;
    height:30px;
}
nav{
    text-align:center;
}
a{
    text-decoration:none;
    color:black;
    margin-left:10px;
}
table{
    border:1px solid black;
    width:100%;
    border-collapse:collapse;
}
th,td{
    border:1px solid lightslategray;
    border-collapse:collapse;
    padding:10px;
    text-align:left;
}
th{
    background-color:lightgrey;
}
main{
    color:brown;
    margin-right:50px;
    margin-left:50px;
}
button{
    background-color:black;
    color:white;
    height:30px;
    border-radius:5px;
    width:100%;
}
#h2{
    text-align:center;
}
#container2{
    background-color:grey;
    border:2px solid grey;
}
#box3{
    background-color:lightgrey;
    border:2px solid lightgrey;
    margin-left:50px;
    margin-right:50px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    color:blue;
    text-align:center;
}
#nbox1{
    border:2px solid lightgrey;
    border-radius:10px;
    margin-bottom:10px;
}
#nbox2{
    border:2px solid lightgrey;
    border-radius:10px;
}
input[type="text"],fieldset{
    border-radius:5px;
    border-color:lightgrey;
    height:30px;
    width:100%;
}