body {
    background-color:black;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
fieldset {
    border:2px dashed grey;
    text-align:center; 
    height:400px;
    width:250px;
    padding:10px;
    /* margin:200px; */
    margin-left:625px;
    margin-top:100px;
    background-color: rgb(18, 52, 88);
}
button {
    height:30px;
    width:70px;
}
button:hover {
    background-color:rgb(212, 201, 190);

}
input:focus {
    border:5px solid black;
    background-color:rgb(241, 239, 236);
    color:white;
}
h2 {
    text-decoration:underline;
    font-weight:bold;
    color:rgb(212, 201, 190);
}
H1{
    margin-left:400px;
}