* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    background-color:black;
    height: 60px;
    color: white;
    
}

.nav-logo {
    height: 50px;4
    width:100px; 
}

.logo {
    background-image: url("amazon_logo.jpg");
    height: 50px;
    width :100%;
}

.border {
    border:2px solid transparent;
}

.border:hover {
    border:1.5px solid white;

}

/** box 2 */
.add-first {
    color:#cccccc;
    font-size: 0.85rem; 
}

.add-second {
    font-size: 1rem;
}