* {
    padding:0;
    margin:0; 
}

#navbar {
    background-color:black; 
    color:white; 
    font-size:25px; 
    height:60px; 
}

.logo {
    color:#f08804
    margin-right:200px
}

.contact {
    margin-right:200px;
}

.cart {
    margin-right:200px;
}

.account {
    margin-right:200px;
}

#search {
    background-color:#f08804;
}