* {
    background-color:bisque /* USED TO SET THE BACKGROUND COLOR OF MY WEBPAGE */
}

h1 {
    text-decoration:underline;  /*USED TO UNDERLINE THE MIN HEADING */
}

.box {
    background-color:blue  /*USED TO SET THE BACKGROUND COLOR OF THE BOX  */
}

.box {
    color:white;          /*USED TO SET THE COLOR OF THE TEXT INSIDE THE BOX */
}

.heading {
    text-decoration:none; /*USED TO REMOVE THE DEFAULT UNDERLINE FROM THE HEADING */
    color:red;   /*USED TO SET THE COLOR OF THE SUB HEADING */
    text-align:center;      /*USED TO ALIGN THE TEXT TO THE CENTER */
}

button {
    color:green;  /*USED TO SET THE COLOR OF THE TEXT INSIDE THE BUTTON */ 
}

button {
    background-color:black;  /*USED TO SET THE BACKGROUND COLOR OF THE BUTTON */
}

#one {
    text-align:center;       /*USED TO ALIGN THE TEXT TO THE CENTER */
    text-transform:capitalize;    /*USED TO CONVERT THE TEXT INTO CAPITAL LETTERS OR UPPERCASE CHARACTERS*/
}

* {
    font-family:'Times New Roman';  /*USED TO SET THE FONT OF THE TEXT */
}

#outer {
    font-size:25px;    /*USED TO SET THE SIZE OF THE TEXT */
}

#inner {
    font-size:10px;    /* USED TO SET THE SIZE OF THE TEXT */
}

#two {
    height:100px;    /*USED TO SET THE HEIGHT OF THE DIV */
    width:100px;     /*USED TO SET THE WIDTH OF THE DIV */
    background-color:red;      /*USED TO SET THE BACKGROUND COLOR OF THE DIV */
    border-radius:50%;      /*USED TO SET THE BORDER RADIUS OF THE DIV */
}

#three {
    height:200px;   /*USED O SET THE HEIGHT OF THE DIV  */ 
    width:200px;    /* USED TO SET THE WIDTH OF THE DIV */
    background-image: url("wallpaper.jpg");    /*USED TO SET THE BACKGROUND IMAGE OF THE DIV */
    background-size:cover;     /*USED TO COVER THE ENTIRE DIV WITH BACKGROUND IMAGE */
    background-position:center;  /*USED TO CENTER THE BACKGROUND IMAGE IN THE DIV */
}

MARQUEE {
    color:blue;  /*USED TO SET THE COLOR OF THE MARQUEE OR SCROLLING TEXT */
    font-family:roboto;  /*USED TO SET THE FONT OF THE MARQUEE TEXT */
    font-weight:bold;   /*USED TO SET THE FONT WEIGHT OF THE MARQUEE TEXT */
}

#in {
    background-color:yellow;  /*USED TO SET THE BACKGROUND COLOR OF THE DIV */
    height:100px;            /*USED TO SET THE HEIGHT OF THE DIV */
    width:100px;          /*USED TO SET THE WIDTH OF THE DIV */
    border-radius:50%;        /*USED TO SET THE BORDER RADIUS OF THE DIV */
}

#out {
    height:100px;     /* USED TO SET THE HEIGHT OF THE DIV */
    width:100px;       /*USED TO SET THE WIDTH OF THE DIV */
    background-color:green;     /*USED TO SET THE BACKGROUND COLOR OF THE DIV */
    border-radius:50%;       /* USED TO SET THE BACKGROUND COLOR OF THE DIV */
}

header {
    text-align:center;
}