* {
    padding:0;
    margin:0;
}
body {
    background-color:black;
    color:white;
    text-align:center;
}
.container {
    height:500px;
    width:500px;
}
.game{
    height:400px;
    width:400px;
    border:none;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    margin-left:550px;
    margin-top:50px;
    display:flex;
    font-size:30px;
    gap:20px;
}
.box {
    height:100px;
    width:100px;
    margin:5px;
    border-radius:10px;
    border:none;
    font-size:50px;
    box-shadow:0 0 20px yellowgreen;
}
#reset {
    background-color:yellow;
    color:black;
    height:40px;
    width:100px;
    margin-left:25px;
    font-weight:bold;
    border-radius:5px;
    padding:3px;
}
#reset:hover {
    background-color:pink;
    color:black;
    cursor:pointer;
}
MARQUEE {
    color:yellow;
    font-size:15px;
}
#msg {
    color:white;
    font-size:16px;
}
.msg-container {
    height:500px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    gap:4rem;
}
.hide {
    display:none;
}
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}