.outer {
    border:2px solid black;
    padding:10px;
    justify-content:center;
    border-radius:10px;
    
}
#box1 {
    border:2px solid black;
    border-radius:5px;
    justify-content:center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;

}
#box2 {
    border:2px solid black;
    border-radius:5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
#box3 {
    border:2px solid black;
    border-radius:5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
#box4 {
    border:2px solid black;
    border-radius:5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
#box5 {
    border:2px solid black;
    border-radius:5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
a {
    color:yellow;
    text-decoration:none;
}