body {
    background-color:black;
    color:white;    
    margin:50px;
    margin-top:125px;
}
.container {
    margin:50px;
}
.box {
    border:4px solid white;
    padding:12px;
    text-align:center;
    margin: 50px;
    background-color:purple;
}
#box1 {
    justify-content:center;
    align-items:center;
    background-color:green;
}
#box2 {
    justify-content:center;
    align-items:center;
    background-color:pink;
}
#box3 {
    justify-content:center;
    align-items:center;
    background-color:blue;
    border:4px solid white;
}
#box-outer {
    background-color:pink;
    border:5px solid blue;
    padding:10px;
}