body  {
    background-color:black;
    color:white;
    justify-content:center;
    align-items:center;
    display:flex;
}
.container {
    background-color:aqua;
    height:300px;
    width:300px;
    position:relative;
}
.box {
    position:absolute;
    width:50px;
    height:50px;
    animation:move 1s infinite linear alternate;
    background-color:navy;
}
@keyframes move{
    0%{top:0px;left:0px;}
    25%{top:0px;left:250px;}
    50%{top:250px;left:250px;}
    75%{top:250px;left:0px;}
    100%{top:0px;left:0px;}
}
.box:hover {
    background-color:black;
    animation-play-state:paused;
    cursor:pointer;
}