body {
    background-color:black;
    color:white;
    width:100%;
    height:100vh;
    margin:0;
}
.container {
    border: 4px solid white;
    width:50%;
    color:beige;
    font-family:times new 'Times New Roman', Times, serif;
    display:grid;
    grid-template-columns:150px 1fr 150px;
    grid-template-rows:50px 150px 150px 50px;
    margin-top:5%;
    margin-left:20%;
}
.box {
    border:2px solid green;
    padding:12px;
    text-align:center;
    margin:5px;
    /* padding means the space between div and text inside it. */
}
#box-1 {
    grid-column-start:1;
    grid-column-end:4;
    background-color:rgb(229,229,229);
    color:black;
}
#box-2 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color:rgb(252,163,17);
    color:black;
}
#box-4 {
    grid-row:span 2;
    background-color:rgb(252,163,17);
    color:black;

}
#box-6 {
    grid-column:1/4;
    background-color:rgb(229,229,229);
    color:black;
    /* grid-COLU
    background-color: */
}
#box-3 {
    background-color:rgb(239, 35, 60);
}
#box-5 {
    background-color:rgb(239, 35, 60);
}